* {
  font-family: "Merriweather Sans", sans-serif;
  margin: 0;
  padding: 0;
  --color-dark-cool-gray: #373e3e;
  --color-white: #fff;
  --color-light-gray: #abb2b2;
  --color-black: #000;
  --color-hr: #33333370;
}

body {
  position: relative;
  height: 100vh;
  background-color: #fff;
  color: #eee;
  font-family: Poppins;
  font-size: 12px;
  overflow-x: hidden;
  /* overflow: hidden; */
}

.large-text {
  font-size: 17px !important;
  text-align: justify !important;
  padding: 1px !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

.hr {
  background-color: var(--color-hr);
}

@media screen and (max-width: 576px) {
  .hr {
    display: none;
  }
}
